/*Color pallete
    #FEDC222 - Light yellow
    #FFCE00  - Yellow
    #FFBA00  - Darker yellow
    #610DA9  - Purple
    #2D0352  - Dark purple
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('http://fonts.cdnfonts.com/css/akira-expanded');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../Images/Background/Logo_Background.png");
}

/* Common styles */
/* Lets have a discussion on these later */

h1,h2,h3,h4,h5 {
	color:#ffab00;
	font-family: 'Akira Expanded','Archivo Black','Ubuntu',sans-serif;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.5rem;
}




/* Header Section */

header {
	min-height: 100vh;
}

.logo {
	text-align: center;
	margin: 13% 0% 0% 8%;
	overflow-x: hidden;
	/* position: fixed; delete this and replace it with position: absolute*/
	position: absolute;
	width: 50%;
	z-index: 1;
	left: 0;
 }
.User-Interface {
	text-align: center;
	margin: 17% 8% 0% 0%;
	overflow-x: hidden;
	/* position: fixed; delete this and replace it with position: absolute*/
	position: absolute;
	width: 50%;
	z-index: 1;
	right: 0;
}
.Text-Logo {
	color: white;
	text-transform: uppercase;
	font-family: 'Archivo Black', sans-serif;
	font-weight: 600;
	font-size: 50px;
}

.Header-Text { 
	color: #FFCE00;
	text-transform: uppercase;
	font-weight: 800;
	font-family: 'Archivo Black', sans-serif;
}

#Header-Text-Title {
	font-family: 'Akira Expanded', sans-serif;
	font-size: 47px;
}

#Header-Text-Subtitle {
	font-size: 40px;
}

.Header-Invite-Button {
	margin: 40px 0px 0px 0px;
	font-family: "Roboto", sans-serif;
}

#Invite_button {
	color: white;
	text-align: center;
	text-decoration: none;
	background: #5C68EE;
	border-radius: 8px;
	padding: 14px 60px 14px 60px;

	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	transition: 0.5s;
}
  
#Invite_button:hover {
	background: #4b57d2;
	transition: 0.5s;
}

.Socials {
	margin-top: 40px;
}

.Socials li {
	display: inline-block;
	position: relative;
}

.Socials a {
	text-decoration: none;
	margin-left: 10px;
}

/* Discord Icon */
.Discord-Icon {
	width: 50px;
	height: 40px;
	background: url("../Images/Social_Logos/Non-Colored/Discord_Icon.png") no-repeat;
	background-size: 50px 40px;
	display: inline-block;
	
	transition: 0.25s;
}

.Discord-Icon:hover {
	background: url("../Images/Social_Logos/Colored/Discord_Icon.png") no-repeat;
	background-size: 50px 40px;
	transform: scale(1.10);
	transition: 0.25s;
}

/* Instagram Icon */
.Instagram-Icon {
	width: 40px;
	height: 40px;
	background: url("../Images/Social_Logos/Non-Colored/Instagram_Icon.png") no-repeat;
	background-size: 40px 40px;
	display: inline-block;
	
	transition: 0.25s;
}

.Instagram-Icon:hover {
	background: url("../Images/Social_Logos/Colored/Instagram_Icon.png") no-repeat;
	background-size: 40px 40px;
	transform: scale(1.10);
	transition: 0.25s;
}


/* Youtube Icon */
.Youtube-Icon {
	width: 40px;
	height: 40px;
	background: url("../Images/Social_Logos/Non-Colored/YouTube_Icon.png") no-repeat;
	background-size: 40px 40px;
	display: inline-block;
	
	transition: 0.25s;
}

.Youtube-Icon:hover {
	background: url("../Images/Social_Logos/Colored/YouTube_Icon.png") no-repeat;
	background-size: 40px 40px;
	transform: scale(1.10);
	transition: 0.25s;
}

/* Twitter Icon */
.Twitter-Icon {
	width: 40px;
	height: 40px;
	background: url("../Images/Social_Logos/Non-Colored/Twitter_Icon.png") no-repeat;
	background-size: 40px 40px;
	display: inline-block;
	
	transition: 0.25s;
}
.Twitter-Icon:hover {
	background: url("../Images/Social_Logos/Colored/Twitter_Icon.png") no-repeat;
	background-size: 40px 40px;
	transform: scale(1.10);
	transition: 0.25s;
}

/* Github Icon*/
.Github-Icon {
	width: 40px;
	height: 40px;
	background: url("../Images/Social_Logos/Non-Colored/GitHub_Icon.png") no-repeat;
	background-size: 40px 40px;
	display: inline-block;
	transition: 0.25s;	
}

.Github-Icon:hover {
	background: url("../Images/Social_Logos/Colored/GitHub_Icon.png") no-repeat;
	background-size: 40px 40px;
	transform: scale(1.10);
	transition: 0.25s;
}




							/* Dividers */

.divider {
    position: relative;
    height: 3rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin: 5rem 0 3rem 0;
}

.divider img {
    height: 3rem;
    position: relative;
    margin: 0 2rem;
}

.divider span {
    width: 100%;
    height: .15rem;
    background-color: #ffce00;
}


							/* RoadMap */


.roadmap {
	position: relative;
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.roadmap-cards-container {
	margin: 1rem 2rem;
	width: 100%;
	display: flex;
	justify-content:center;
}

.roadmap-group {
	margin: 0 3rem;
}

							/* Contribute */


.contribute {
	position: relative;
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}




							/* SkillTree Lead Team */

.skilltree-contributor {
	position: relative;
	width: 100%;
	margin: 5rem 0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.skilltree-contributor h2 span {
	text-transform: uppercase;

}

/* Overseer*/
.contributor-overseer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 3rem;
}

.contributor-overseer p b {
	font-family: 'Akira Expanded','Archivo Black','Ubuntu',sans-serif;
	font-size: 1.25rem;
	color: #FFCE00;
}

.contributor-overseer .image,p {
	margin: .25rem;
}

.contributor-overseer .image{
	position: relative;
	width: 7.5rem;
	height: 7.5rem;
	border-radius: 50%;
	border: purple .25rem solid;
	overflow: hidden;
}

.contributor-overseer img {
	position: relative;
	background-position: center;
	max-width: 100%;
  	height: auto;
}

/*  other people under onverseer*/
.contributor-container {
	display: flex;
}

.contributor-card .image,p {
	margin-top: .25rem;
}

.contributor-card p b {
	font-family: 'Akira Expanded','Archivo Black','Ubuntu',sans-serif;
	color: greenyellow;
}

.contributor-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: .5rem;
}

.contributor-card .image{
	position: relative;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: purple .25rem solid;
	overflow: hidden;
}

.contributor-card img {
	position: relative;
	background-position: center;
	max-width: 100%;
  	height: auto;
}

/* Footer */

footer {
	position: relative;
	width: 100%;
	height: 10rem;
	margin-top: 5rem;
	background-color: #151515;
}

/*Media Rules*/
@media only screen and (min-width: 2000px) {

	/* Header */
	.logo {
		margin: 14% 0% 0% 15%;
	}
	
	.User-Interface {
		margin: 18% 15% 0% 0%;
	}

}
