/*Color pallete
    #FEDC222 - Light yellow
    #FFCE00  - Yellow
    #FFBA00  - Darker yellow
    #610DA9  - Purple
    #2D0352  - Dark purple
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.cdnfonts.com/css/akira-expanded');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
}



.bg {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: -1000;
  overflow: hidden;
}

.bg-img {
  background-image: url('../Images/Background/drawing.svg');
  background-color: #0f0f0f;
  height: 1000rem;
  width: 1000rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(-30deg);
  position: absolute;
  z-index: -1000;
}

/* Common styles */
/* Lets have a discussion on these later */

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ffab00;
  font-family: 'Akira Expanded', 'Archivo Black', 'Ubuntu', sans-serif;
  margin: 0 1rem;
}

/* Page Header */
.Header-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Header-Container {
  max-width: 1000px;
  width: 100%;
  margin: 2rem;
}

.Header-Grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 3rem;
  align-items: center;
  font-family: 'akira expanded', sans-serif;
}

.User-Interface {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

#Purple-Logo {
  width: 345px;
}

.Text-Logo {
  color: white;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'akira expanded';
}

.Header-Text {
  text-shadow: 0px 6px 0px #000000;
  text-transform: uppercase;
  font-weight: 800;
  color: #ffce00;
  width: 100%;
  display: inline-block;
}

#Header-Text-Title {
  display: flex;
  justify-content: space-between;
  font-family: 'akira expanded', sans-serif;
  font-size: 51px;
  height: 40px;
}

#Header-Text-Subtitle {
  font-family: 'akira expanded', sans-serif;
  font-size: 34px;
}

.Header-Button {
  font-size: 1rem;
}

.Header-Buttons-Section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 32px 0 8px;
  gap: 1rem;
}

.Header-Buttons-Section a {
  padding: 14px 60px 14px 60px;
  text-align: center;
  text-decoration: none;
}

#Invite_button {
  color: white;

  background: #5c68ee;
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.5s;
}

#Invite_button:hover {
  background: #3e49b3;
  transition: 0.5s;
}

#App_button {
  color: #c4c4c4;
  text-align: center;
  text-decoration: none;
  background: #5e5e5e;
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  pointer-events: none;
}

.Socials {
  padding-top: 30px;
}

.Socials li {
  display: inline-block;
}

.Socials a {
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

/* Discord Icon */
.Discord-Icon {
  width: 50px;
  height: 40px;
  background: url('../Images/Social_Logos/Non-Colored/Discord_Icon.png')
    no-repeat;
  background-size: 50px 40px;
  transition: all 0.3s ease-in-out;
}

.Discord-Icon:hover {
  background: url('../Images/Social_Logos/Colored/Discord_Icon.png') no-repeat;
  background-size: 50px 40px;
  transform: scale(1.05);
}

/* Instagram Icon */
.Instagram-Icon {
  width: 40px;
  height: 40px;
  background: url('../Images/Social_Logos/Non-Colored/Instagram_Icon.png')
    no-repeat;
  background-size: 40px 40px;
  transition: all 0.3s ease-in-out;
}

.Instagram-Icon:hover {
  background: url('../Images/Social_Logos/Colored/Instagram_Icon.png') no-repeat;
  background-size: 40px 40px;
  transform: scale(1.1);
}

/* Youtube Icon */
.Youtube-Icon {
  width: 40px;
  height: 40px;
  background: url('../Images/Social_Logos/Non-Colored/YouTube_Icon.png')
    no-repeat;
  background-size: 40px 40px;
  transition: all 0.3s ease-in-out;
}

.Youtube-Icon:hover {
  background: url('../Images/Social_Logos/Colored/YouTube_Icon.png') no-repeat;
  background-size: 40px 40px;
  transform: scale(1.1);
}

/* Twitter Icon */
.Twitter-Icon {
  width: 40px;
  height: 40px;
  background: url('../Images/Social_Logos/Non-Colored/Twitter_Icon.png')
    no-repeat;
  background-size: 40px 40px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.Twitter-Icon:hover {
  background: url('../Images/Social_Logos/Colored/Twitter_Icon.png') no-repeat;
  background-size: 40px 40px;
  transform: scale(1.1);
}

/* Github Icon*/
.Github-Icon {
  width: 40px;
  height: 40px;
  background: url('../Images/Social_Logos/Non-Colored/GitHub_Icon.png')
    no-repeat;
  background-size: 40px 40px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.Github-Icon:hover {
  background: url('../Images/Social_Logos/Colored/GitHub_Icon.png') no-repeat;
  filter: brightness(135%);
  background-size: 40px 40px;
  transform: scale(1.1);
}

/* Patreon Icon*/
.Patreon-Icon {
  width: 40px;
  height: 40px;
  background: url('../Images/Social_Logos/Non-Colored/Patreon_Icon.png')
    no-repeat;
  background-size: 40px 40px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.Patreon-Icon:hover {
  background: url('../Images/Social_Logos/Colored/Patreon_Icon.png') no-repeat;
  background-size: 40px 40px;
  transform: scale(1.1);
}

/* Dividers */

.divider {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin: 5rem 0 3rem 0;
}

.divider img {
  height: 3rem;
  margin: 0 2rem;
}

.divider span {
  width: 100%;
  height: 0.15rem;
  background-color: #ffce00;
}

/* Vision/Projects */
.vision {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vision h2 {
  margin-bottom: 20px;
}

.vision p {
  color: #fff;
  font-family: 'Ubuntu';
  max-width: 900px;
  text-align: center;
  margin: 10px 0;
}

.projects-title {
  font-family: 'Akira Expanded';
  text-transform: uppercase;
  margin-top: 82px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  height: auto;
  max-width: 100%;
  padding: 0 48px 0 48px;
  margin-top: 0;
  margin-bottom: 32px;
}

.project {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  height: auto;
}

.project-image1,
.project-image2,
.project-image3 {
  display: flex;
  height: 36%;
  min-height: 150px;
  max-height: 80vh; /*Keeps images from getting too stretchy when zooming in*/
  width: 100%;
  min-width: 16rem;
  border-radius: 16px;
  border: 4px solid #ff10f0;
  background-color: rgb(41, 36, 36);
  box-shadow: -2px 8px 20px 12px black;
}

.project-image1 {
  background-image: url('../Images/Projects/skilltreebanner1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.project-image2 {
  background-image: url('../Images/Projects/chestIcon1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
}

.project-image3 {
  background-image: url('../Images/Projects/app1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.project-paragraph {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.project span {
  align-self: left;
  text-align: center;
  margin-top: 32px;
  font-size: 1.5rem;
  font-weight: 1000;
  color: #ffce00;
  text-transform: uppercase;
  font-family: 'Akira Expanded', 'Ubuntu';
}

.project p {
  text-align: left;
  color: #fff;
  font-family: 'Ubuntu';
}

/* RoadMap */

.roadmap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roadmap h2 {
  margin: 1rem 0 5rem;
}

.roadmap-cards-container {
  margin: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  flex-wrap: wrap;
}

.roadmap-group {
  width: 30%;
  min-width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap-group h3 {
  margin: 1rem 0;
}

.roadmap-group p {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.roadmap-item {
  background-color: #202020;
  border: #6a6a6a 0.25rem solid;
  box-shadow: rgb(17, 17, 17) 0 0.5rem 0.5rem;
  border-radius: 1.55rem;
  padding: 0.25rem 0.25rem;
  width: 100%;
  margin-top: 0.75rem;
}

.item-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-header span {
  display: flex;
  align-items: center;
}

.item-header p {
  color: #ffce00;
  font-size: 1.1rem;
  margin: 0 0 0 0.5rem;
}

.item-date {
  position: relative;
  color: #ffce00;
  font-size: 0.75rem !important;
  right: 0.5rem;
  font-style: italic;
}

.item-header:hover {
  cursor: pointer;
}

.item-icon {
  width: 2.25rem;
}
.item-goal {
  font-weight: bold;
  text-transform: uppercase;
}

.item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s ease;
}

.item-description {
  margin: 0.5rem 1rem 0.5rem 0.5rem;
}

/* Contribute */

.contribute {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contribute a {
  color: #4b57d2;
}

.contribute h2 {
  margin-bottom: 5rem;
}

.contribute-container {
  position: relative;
  max-width: 1000px;
  margin: 0 2rem;
  color: white;
}

.contribute-content {
  position: relative;
  display: flex;
  margin: 0 0 5rem 0;
}

.contribute-image {
  width: 16rem;
  height: 10rem;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  border: 0.25rem solid #fa00ba;
  margin: 0 1rem 0 0;
}

#contribute-image1 {
  background-image: url(../Images/Projects/skilltreebanner1.png);
}
#contribute-image2 {
  background-image: url(../Images/Projects/app1.png);
}
#contribute-image3 {
  background-image: url(../Images/Projects/chestIcon1.png);
  background-color: #000;
}

.contribute-text {
  margin: 0 1rem 0 0;
  width: 100%;
}

.contribute-text h3 {
  margin: 0;
}

.contribute-text p {
  margin: 1rem 0;
  text-align: left;
}

.contribute-content:nth-child(2) {
  flex-direction: row-reverse;
}

/* Footer */

footer {
  position: relative;
  width: 100%;
  height: 8rem;
  padding-top: 1.5rem;
  background-color: #151515;
}

.footer-socials {
  position: center;
  display: flex; 
  justify-content: space-around;
}

.footer-socials li {
  margin: 0.2rem;
  justify-content: center;
  align-items: center;
  position: center;
  display: inline-block;
}

.footer-text p {
  padding-top: .75rem;
  color: #FFF;
  position: center;
  text-align: center;
  width: 100%;
  display: inline-block;
  justify-content: center
}

@media only screen and (max-width: 800px) {
  /* RoadMap section */

  .roadmap-group {
    margin: 0 1rem 5rem 1rem;
  }

  /* Contribute section */
  .contribute-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5rem 0 0 0;
    max-width: 16rem;
  }

  .contribute-content * {
    margin-right: 0;
  }

  .contribute-content h3 {
    margin: 0;
    text-align: center;
  }

  .contribute-content:nth-child(2) {
    flex-flow: column;
  }

  .contribute-image {
    width: 16rem;
    height: 20vh;
    min-height: 10rem;
  }

  .contribute-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 2rem;
  }

  .contribute-text p {
    text-align: center;
  }

  /* Project */

  .project p {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #Purple-Logo {
    width: 15rem;
  }

  #Header-Text-Title {
    font-size: 2.25rem;
  }

  #Header-Text-Subtitle {
    font-size: 1.5rem;
  }

  .Header-Buttons-Section {
    width: 100%;
    gap: 0.5rem;
  }

  .Header-Buttons-Section a {
    padding: 0.75rem 1.5rem;
  }

  .Socials li {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 1.9rem;
  }

  .Header-Grid {
    padding: 0 1rem;
  }

  #Purple-Logo {
    width: 12.5rem;
  }

  #Header-Text-Title {
    font-size: 1.9rem;
  }

  #Header-Text-Subtitle {
    font-size: 1.25rem;
  }

  .Header-Buttons-Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 1rem 0;
  }

  .Header-Buttons-Section li {
    width: 100%;
  }

  .Header-Button {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Header-Button a {
    padding: 0.75rem;
  }

  #Invite_button {
    width: 100%;
  }

  #App_button {
    width: 100%;
  }

  .Socials {
    display: flex;
    padding: 0;
  }

  .Socials a {
    margin: 0;
  }

  .Socials li div {
    width: 2.25rem;
    height: 2rem;
    margin: 0.25rem;
    background-size: 2.25rem 2rem;
  }

  .Socials li div:hover {
    transform: scale(1.05);
    background-size: cover;
  }
}
